<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.hutspace.anware"
      android:versionCode="1"
      android:versionName="1.0"
      android:debuggable="true">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Anware"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
                  android:label="@string/about_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Prefs"
                  android:label="@string/settingsTitle">
        </activity>
        <activity android:name=".GameActivity"
                  android:label="@string/game_title"
                  android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>